<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>罗莱家纺</title>
		<link href="./zui/css/zui.css" rel="stylesheet" />
		<link href="./zui/css/zui-theme.css" rel="stylesheet" />
		<link href="./css/my.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="zui/lib/ieonly/html5shiv.js"></script>
		<script src="zui/lib/ieonly/respond.js"></script>
		<script src="zui/lib/ieonly/excanvas.js"></script>
		<![endif]-->
	</head>

	<body>
		<!--[if lt IE 8]>
		<div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
		<![endif]-->

		<div id="topDiv">
			<!--<jsp:include page="topmainpage.jsp" />-->
		</div>
		<div id="midDiv">
			<!--<jsp:include page="midmainpage.jsp" />-->
		</div>
		<div id="downDiv" align="center">
			<!--<jsp:include page="downmainpage.jsp" />-->
		</div>

		<script src="./zui/lib/jquery/jquery.js"></script>
		<script src="./js/jquery.scrollUp.min.js"></script>
		<script src="./zui/js/zui.js"></script>
		<script src="./js/my.js"></script>
	</body>

</html>